@font-face {
    font-family:MuseoSans;
    src: url(MuseoSans.otf)
}
body {
    background-color: black;
    overflow: hidden;
}
#main {
    display: none;
    }
#intro {
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    opacity:0.5;
}
#intro button {
    background: transparent;
    outline: none;
    color: #EDC2D8FF;
    border: 3px;
    padding: 13px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: MuseoSans;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    background-size: cover;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.6s;
    cursor: default;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
     -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently */

}

#intro button:hover {
    color: #8ABAD3FF;
    transition: 0.6s;
}

#myVideo {
    position: fixed;
    top: 51%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translate(-50%, -50%);
    filter: blur(4px)grayscale(1);
    pointer-events: none;
}

.Suning {
    position: fixed;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s;
    color: #EDC2D8FF;
    font-size: 45px;
    font-weight: 200;
    font-family: MuseoSans;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
     -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently */
}

.Suning:hover { 
    font-weight: 300;
    color: #8ABAD3FF;
    transition: 0.5s;
}

.discord {
    position: fixed;
    top: 63%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #EDC2D8FF;
    font-size: 45px;
    font-weight: 200;
    transition: 0.6s;
    font-family: MuseoSans;
    cursor: default;
}

.discord:hover { 
    font-weight: 500;
    color: #8ABAD3FF;
    transition: 0.6s;
}

.Containter {
    position: fixed;
    text-align:center ;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: MuseoSans;  
    cursor: default;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
     -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently */
}
a {
    color: #EDC2D8FF;
    text-decoration: none;
    font-weight:500;
    font-size:25px; 
    transition: 0.5s;
    cursor: default;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
     -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently */
}

a:hover {
    color: #8ABAD3FF;
    outline: none;
    text-decoration: none; 
    transition: 0.5s;
}

