@font-face {
    font-family:MuseoSans;
    src: url(MuseoSans.otf)
}
body {
    background-color: black;
    overflow: hidden;
}
#main {
    display: none;
    }

#intro {
    width: 100vw;
    height: 100vh;
    background-color: transparent;
}

#myVideo {
    position: fixed;
    top: 51%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translate(-50%, -50%);
    filter: blur(4px)grayscale(1);
    pointer-events: none;
}
pre {
  color: #89ABE3FF;
  text-align: center;
  font-weight: 300px;
	font-size: 20px;
	user-select: none;
  position: absolute;
  top: 40%;
  left: 33%;
  transition: 0.5s
}
pre:hover{
    color: #CBCE91FF;
    font-weight: 400px;
}
.Suning {
    position: fixed;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s;
    color: #89ABE3FF;
    font-size: 45px;
    font-weight: 200;
    font-family: MuseoSans;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
     -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently */
}

.Suning:hover {
    font-weight: 300;
    color: #CBCE91FF;
    transition: 0.5s;
}

.discord {
    position: fixed;
    top: 63%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #89ABE3FF;
    font-size: 45px;
    font-weight: 200;
    transition: 0.6s;
    font-family: MuseoSans;
    cursor: default;
}

.discord:hover {
    font-weight: 500;
    color: #CBCE91FF;
    transition: 0.6s;
}

.Containter {
    position: fixed;
    text-align:center ;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: MuseoSans;
    cursor: default;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
     -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently */
}
a {
    color: #89ABE3FF;
    text-decoration: none;
    font-weight:500;
    font-size:25px;
    transition: 0.5s;
    cursor:pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
     -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently */
}

a:hover {
    color: #CBCE91FF;
    outline: none;
    text-decoration: none;
    transition: 0.5s;
}
